<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">
	<!--开启注解-->
	<!--<context:annotation-config/>
	<bean id="personDao" class="com.dbapp.spring.dao.impl.PersonDaoImpl" ></bean>
	<bean id="personService" class="com.dbapp.spring.service.impl.PersonServiceImpl"></bean>-->

	<!--开启自动扫描-->
	<context:component-scan base-package="com.dbapp"/>

</beans>