<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!--2种依赖注入 begin-->
	<!--1.通过属性的set方法进行注入-->
	<bean id="personService" class="com.dbapp.spring.service.impl.PersonServiceImpl">
		<property name="personDao" ref="personDao"></property>
		<property name="name" value="xutao"></property>
		<property name="age" value="29"></property>
		<property name="num" value="1"></property>
	</bean>

    <!--2.通过构造函数进行注入-->
	<bean id="personService2" class="com.dbapp.spring.service.impl.PersonServiceImpl">
		<constructor-arg name="personDao" ref="personDao"></constructor-arg>
	</bean>
	<!--2种依赖注入 end-->
	<bean id="personDao" class="com.dbapp.spring.dao.impl.PersonDaoImpl"></bean>
</beans>