<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="helloSpring" name="hello" class="com.dbapp.spring.demo.HelloSpring"/>

	<bean id="hiSpring" name="hi" class="com.dbapp.spring.demo.HiSpring"/>

	<!--<bean class="com.dbapp.spring.demo.HelloSpring">
		<constructor-arg name="id" value="1"/>
		<constructor-arg index="1" value="xutao"/>
	</bean>-->

	<!--<bean id="helloSpring" class="com.dbapp.spring.factory.HelloSpringFactoryBean"/>-->

	<!--<bean class="com.dbapp.spring.demo.HelloSpringLifeCycle"/>

	<bean id="helloSpringAware" class="com.dbapp.spring.demo.HelloSpringAware"/>-->
</beans>